img.board-cell { 
  width: 20px;
  height: 20px;
  text-align:center;
  vertical-align:middle;
}
button.board-cell{ 
  width: 22px;
  height: 22px;
  text-align:center;
  vertical-align:middle;
}
table.board{ 
  padding: 0px;
  margin: 0px;
  border: 0px;
}
td.board-cell{
  width: 20px;
}
tr.board-row{
  height: 20px;
}
